*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    color:white;
    background-color: #081b31;
    padding: 2rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.choice:hover{
    opacity: 49%;
    background-color: blue;
}

.choice{
    border-radius: 50%;
}

.choices img{
    width: 165px;
    height: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 1.6rem;
    flex-wrap: wrap;
}

#user,#comp{
    font-size: 5rem;
    margin-left:10px;
}


.msg-box{
    margin-top: 2.5rem;
    text-align: center;
}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color:white;
    border-radius: 1rem;
    display: inline;
    margin: auto;
    padding: 1.25rem;
    
}